html {
  font-size: 18px;
}

body {
  /* font-family: Helvetica; */
  font-family: 'Exo', sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 125%;
  color: white;
  padding-top: 0.5rem;
}

h4 {
  font-size: 1rem;
  font-weight: 300;
  color: red;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
}

.header {
  width: 960px;
  background-color: black;
  display: flex;
  align-items: center;
}

.logo {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.logotype {
  color: DarkGrey;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.wrap-banner {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  background-image: url("../img/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner {
  width: 960px;
}

.arrival {
  margin-top: 9rem;
  padding: 2rem 3rem;
  background-color: black;
  width: 20rem;
}

.wrap-nav {
  width: 100%;
  background-color: darkred;
}

.main-nav {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  background-color: darkred;
}

.menu-items {
  color: white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/* IS THERE AN OTHER WAY TO DO THIS? CREATE AN INSTANCE OF A CSS RULE WITH JUST ONE DIFFERENT SETTING? WITHOUT NEEDING TO COPY EVERYTHING? */
.menu-items1024 {
  color: white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: none;
}

.menu {
  color: white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.wrap-products {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.products {
  width: 960px;
  display: inline-flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  width: 30%;
  padding-top: 2rem;
  background-color: white;
  border: 4px solid black;
}

/* IS THERE AN OTHER WAY TO DO THIS? HAVE AN IDENTICAL CSS RULE BUT WITH A DIFFERENT NAME — WITHOUT HAVING TO RE-COPY ALL THE DETAILS? */
.sunglasses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  width: 30%;
  padding-top: 2rem;
  background-color: white;
  border: 4px solid black;
}

.watch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  width: 30%;
  padding-top: 2rem;
  background-color: white;
  border: 4px solid black;
}

.item-photo {
  height: 9rem;
  padding-bottom: 2rem;
}

.glasses {
  width: 9rem;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.item-name {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 35%;
  margin-top: 3rem;
}

.contact-info {
  width: 100%;
  background-color: black;
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contact-name {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.wrap-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
}

.footer {
  display: flex;
  /* align-content: center; */
  align-items: center;
  height: 5rem;
  width: 960px;
  background-color: black;
}

.copyright {
  font-size: 0.9rem;
  color: white;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (max-width: 1024px) {
  /* ruleset for screens 1024px + smaller */
  .logo {
    height: 1.75rem;
  }

  .logotype {
    font-size: 1.25rem;
  }

  .menu-items {
    display: none;
  }

  .menu-items1024 {
    display: inherit;
  }

  .main-nav {
    width: auto;
    justify-content: center;
  }

  .sunglasses {
    display: none;
  }

  .item, .watch {
    width: 47%;
  }

}

@media only screen and (max-width: 470px) {
  /* ruleset for screens 470px + smaller */
  body {
    letter-spacing: 0.5px;
  }

  h1 {
    font-size: 1rem;
    padding-top: 0.25rem;
  }

  h4 {
    font-size: 0.77rem;
  }

  .wrap-banner {
    height: 15rem;
  }

  .banner {
    width: 100%;
    display: flex;
    align-items: flex-end;
  }

  .arrival {
    margin-top: 0;
    padding: 1rem 2rem;
    background-color: black;
    width: 100%;
  }

  .watch {
    display: none;
  }

  .products {
    width: auto;
    justify-content: center;
  }

  .item {
    width: 90%;
    margin-bottom: 1.5rem;
  }

  .contact {
    width: 90%;
    margin-top: 0.5rem;
  }

  .footer {
    justify-content: center;
    width: auto;
  }

  .copyright {
    font-size: 0.75rem;
    text-align: center;
  }

}
